html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: serif;
  font-size: 1.6rem;
  color: white;
  background-color: #202040;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5rem;
}

.title {
  font-family: sans-serif;
  color: #ff1e56;
}

.title--h1 {
  font-size: 7rem;
  margin: 10rem 0;
  position: relative;
}

.title--h2 {
  font-size: 5rem;
}

.title--h3 {
  font-size: 3rem;
}

@keyframes signature-animation {
  to {
    stroke-dashoffset: 0;
  }
}

.header {
  background-color: #202040;
  padding: 5rem 0 0;
  position: relative;
  overflow: hidden;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "photo menu" "photo description";
  min-height: 100vh;
}

.header__photo {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 100%;
  object-fit: contain;
  object-position: center bottom;
  filter: drop-shadow(-3rem 0 3rem rgba(0, 0, 0, 0.3));
}

.header__photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  grid-area: photo;
}

.header__title {
  font-size: 2rem;
  text-align: right;
  grid-area: description;
  align-self: end;
  padding-bottom: 5rem;
}

.header__title .title {
  font: inherit;
}

.header__signature {
  width: 25rem;
}

.header__signature #signature {
  stroke-dasharray: 1778;
  stroke-dashoffset: 1778;
  animation: signature-animation 3s ease forwards;
}

@media (min-width: 50rem) and (max-width: 93rem) {
  .title--h1 {
    font-size: 8vw;
  }
}

.main-menu {
  text-align: right;
  font-size: 2.5rem;
  font-family: sans-serif;
  grid-area: menu;
}

.main-menu__list {
  padding-left: 0;
}

.main-menu__item {
  display: inline;
}

.main-menu__link {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  border: 2px solid transparent;
}

.main-menu__link:hover {
  border: 2px solid #ff1e56;
  border-radius: 10px;
}

@media (max-width: 50rem) {
  .header__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "menu" "photo" "description";
  }
  .main-menu {
    text-align: center;
  }
  .main-menu__item {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

.experiences {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 0 -19.25rem;
  padding: 0;
  list-style: none;
  gap: 2rem;
}

.experiences__title {
  margin-top: 0;
  color: #ff1e56;
}

.experiences__item {
  background-color: #202040;
  vertical-align: middle;
  padding: 2rem;
  font-size: 2rem;
  aspect-ratio: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.experiences__icon {
  display: block;
  margin-bottom: 1rem;
  width: auto;
}

.experiences__icon--gcp {
  height: 3rem;
}

.experiences__icon--czc {
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.experiences__icon--pet {
  height: 3rem;
}

.experiences__icon--graduation {
  height: 4rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 80rem) {
  .experiences {
    grid-template-columns: 1fr 1fr;
  }
  .experiences__item {
    aspect-ratio: unset;
  }
}

@media (max-width: 50rem) {
  .experiences {
    grid-template-columns: 1fr;
  }
  .experiences__item {
    aspect-ratio: 3/2;
  }
}

.section {
  padding: 5rem 0;
  /*&__contacts {
    background-image: url(talk-background.svg);
  }*/
}

.section--dark {
  background-color: #dcdcf5;
}

.section--light {
  background-color: white;
}

.section--photos {
  padding-top: 20rem;
}

.button-row {
  position: relative;
  text-align: center;
  margin-bottom: 8rem;
  z-index: 0;
}

@keyframes pulse-animation {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 21rem;
    width: 21rem;
    opacity: 0;
  }
}

.button {
  text-decoration: none;
  color: inherit;
  padding: 2rem;
  border: 1px solid black;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 500;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
}

.button::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 6rem;
  left: -6.5rem;
  top: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.315), transparent);
  transition: left 0.8s;
  transform: skewx(-15deg);
}

.button:hover::after {
  left: calc(100% + 0.5rem);
}

.button--touch {
  color: black;
  background-color: #fff;
  position: relative;
  transition: box-shadow 1s;
  overflow: visible;
}

.button--touch::after {
  display: none;
}

.button--touch:hover {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.274);
}

.button__pulse {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: 1.5s pulse-animation ease infinite;
  pointer-events: none;
}

.button--social {
  width: 15rem;
}

.button--facebook {
  background-color: #1877f2;
  border-color: #1877f2;
}

.button--instagram {
  background-image: linear-gradient(to top right, #ffa140, #fc3572, #a23cad);
  border-color: transparent;
}

.button--linkedin {
  background-color: #0a66c2;
  border-color: #0a66c2;
}

.button--twitch {
  background-color: #772ce8;
  border-color: #772ce8;
}

.button--youtube {
  background-color: #f00;
  border-color: #f00;
}

.button__icon {
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
  margin: -0.5em 0.3em -0.3em 0;
}

.footer {
  background-color: #202040;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

.footer__text {
  font-size: 3rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  margin-left: 50px;
  margin-right: 50px;
}

.gallery > div {
  position: relative;
  padding-top: 56.25%;
}

.gallery img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes circle-animation {
  from {
    stroke-dasharray: 0 200;
  }
  to {
    stroke-dasharray: 200 0;
  }
}

@keyframes copy-animation {
  from {
    stroke-dasharray: 0 100;
  }
  to {
    stroke-dasharray: 37 33;
  }
}

.circle-jedna {
  animation: circle-animation 2s ease infinite;
}

.circle-dva {
  animation: copy-animation 2s ease infinite;
}
/*# sourceMappingURL=styles.css.map */